$textColor: aqua;
$bgc: #005;
$baseWidth: 80vw;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%box {
    width: 100px;
    height: 100px;
    background-color: hotpink;
    border: 1px solid #000;
}

@mixin boxm {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: silver;
    border: 1px solid #000;
}