$textColor: aqua;
$bgc: #005;
$baseWidth: 80vw;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin desktop {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

%box {
    width: 100px;
    height: 100px;
    background-color: hotpink;
    border: 1px solid #000;
}

@mixin boxm($width, $height, $bgc2: #000) {
    width: $width;
    height: $height;
    margin: 20px;
    background-color: $bgc2;
    border: 1px solid #000;
}