section {
    background-color: $bgc;
    width: $baseWidth;
    padding: 20px;
    margin: 0 auto;

    @include mobile {
        width: 100vw;
        background-color: #ccc;
    }
}

section p {
    color: $textColor;
}