nav {
    width: $baseWidth;
    height: 40px;
    background-color: $bgc;
    margin: 0 auto;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

        a {
            display: block;
            text-decoration: none;
            width: 100px;
            text-align: center;
            background-color: lightskyblue;

            &:hover {
                background-color: orange;
            }
        }
    }
}