.gallery {
    width: 15vw;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.7);
}

#bigImg {
    display: block;
    width: 564px;
    height: 376px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.6);
}

.mySlides {
    width: 30vw;
    display: none;

}

#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#slider div {
    width: 20%;
    text-align: center;
}

#slider img {
    width: 100%;
    height: auto;
    max-height: 100%;
}